@import "variables";

body {
    background-color: $color-base-lighter;
    color: $color-base-dark;
    //font-family: 'Nunito Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.filled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inner-filled {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Alert
 */
.alert {
    padding: .375rem .75rem;
    border: none;
}

.alert-base-red {
    background-color: $color-base-red-lightest;
    color: $color-base-red-darker;
}

.alert-base-pink {
    background-color: $color-base-pink-lightest;
    color: $color-base-pink-darker;
}

.alert-base-yellow {
    background-color: $color-base-yellow-lightest;
    color: $color-base-yellow-darker;
}

/**
 * Background
 */
.bg-gradient-base {
    background: linear-gradient(to bottom, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
}

.bg-gradient-base-reverse {
    background: linear-gradient(to bottom, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
}

.bg-gradient-base-cross {
    background: linear-gradient(to right, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
}

.bg-gradient-base-cross-reverse {
    background: linear-gradient(to right, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
}

.bg-microsoft {
    background-color: $color-microsoft;
}

.bg-google {
    background-color: $color-google;
}

.bg-facebook {
    background-color: $color-facebook;
}

.bg-base-dark {
    background-color: $color-base-dark;
}

.bg-base-dark-lighter {
    background-color: $color-base-dark-lighter;
}

/**
 *
 */
.badge-microsoft {
    color: $color-light;
    background-color: $color-microsoft;
}

.badge-google {
    color: $color-light;
    background-color: $color-google;
}

.badge-facebook {
    color: $color-light;
    background-color: $color-facebook;
}

/**
 * Border
 */
.border-dark-o {
    border-color: $color-dark-o !important;
}

.border-dark-o2 {
    border-color: $color-dark-o2 !important;
}

.border-base-dark {
    border-color: $color-base-dark !important;
}

.border-base-red-lighter {
    border-color: $color-base-red-lighter !important;
}

.border-base-red {
    border-color: $color-base-red !important;
}

.border-base-red-darker {
    border-color: $color-base-red-darker !important;
}

.border-base-red-dark {
    border-color: $color-base-red-dark !important;
}

.border-base-yellow-lighter {
    border-color: $color-base-yellow-lighter !important;
}

.border-base-yellow {
    border-color: $color-base-yellow !important;
}

.border-base-yellow-darker {
    border-color: $color-base-yellow-darker !important;
}

.border-base-yellow-dark {
    border-color: $color-base-yellow-dark !important;
}

.border-base-pink-lighter {
    border-color: $color-base-pink-lighter !important;
}

.border-base-pink {
    border-color: $color-base-pink !important;
}

.border-base-pink-darker {
    border-color: $color-base-pink-darker !important;
}

.border-base-pink-dark {
    border-color: $color-base-pink-dark !important;
}

/**
 * Button
 */
.btn, button, a {
    &:disabled, &.disabled {
        cursor: default;
        pointer-events: none;
    }
}

.btn-base-red {
    color: $color-light;
    background-color: $color-base-red;
    border-color: $color-base-red;

    &:hover {
        color: $color-light;
        background-color: $color-base-red-darker;
        border-color: $color-base-red-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-base-red-lighter;
        border-color: $color-base-red-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-base-red-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-base-red-dark;
        border-color: $color-base-red-dark;
    }
}

.btn-base-yellow {
    color: $color-light;
    background-color: $color-base-yellow;
    border-color: $color-base-yellow;

    &:hover {
        color: $color-light;
        background-color: $color-base-yellow-darker;
        border-color: $color-base-yellow-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-base-yellow-lighter;
        border-color: $color-base-yellow-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-base-yellow-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-base-yellow-dark;
        border-color: $color-base-yellow-dark;
    }
}

.btn-base-pink {
    color: $color-light;
    background-color: $color-base-pink;
    border-color: $color-base-pink;

    &:hover {
        color: $color-light;
        background-color: $color-base-pink-darker;
        border-color: $color-base-pink-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-base-pink-lighter;
        border-color: $color-base-pink-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-base-pink-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-base-pink-dark;
        border-color: $color-base-pink-dark;
    }
}

.btn-microsoft {
    color: $color-light;
    background-color: $color-microsoft;
    border-color: $color-microsoft;

    &:hover {
        color: $color-light;
        background-color: $color-microsoft-darker;
        border-color: $color-microsoft-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-microsoft-lighter;
        border-color: $color-microsoft-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-microsoft-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-microsoft-dark;
        border-color: $color-microsoft-dark;
    }
}

.btn-facebook {
    color: $color-light;
    background-color: $color-facebook;
    border-color: $color-facebook;

    &:hover {
        color: $color-light;
        background-color: $color-facebook-darker;
        border-color: $color-facebook-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-facebook-lighter;
        border-color: $color-facebook-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-facebook-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-facebook-dark;
        border-color: $color-facebook-dark;
    }
}

.btn-google {
    color: $color-light;
    background-color: $color-google;
    border-color: $color-google;

    &:hover {
        color: $color-light;
        background-color: $color-google-darker;
        border-color: $color-google-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-google-lighter;
        border-color: $color-google-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-google-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-google-dark;
        border-color: $color-google-dark;
    }
}

/**
 * Display
 */
.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
 * Dropdown
 */
.dropdown-toggle {
    &.no-arrow {
        &::after {
            display: none;
        }
    }
}

.dropdown-menu, .dropdown-divider {
    border-color: $color-base-light;
}

.dropdown-menu {
    background-clip: unset;
}

.dropdown-item {
    &:hover {
        background-color: $color-base-light;
    }

    &:focus, &.focus, &:active, &.active {
        color: $color-light;
        background-color: $color-base-red;
    }
}

/**
 * Form
 */
.form-control {
    border: none;
    background-color: $color-base-lightest;

    &.focus-base-red {
        &:focus {
            box-shadow: 0 0 0 0.2rem $color-base-red-lighter-o;
        }
    }

    &.focus-base-pink {
        &:focus {
            box-shadow: 0 0 0 0.2rem $color-base-pink-lighter-o;
        }
    }

    &.focus-base-yellow {
        &:focus {
            box-shadow: 0 0 0 0.2rem $color-base-yellow-lighter-o;
        }
    }
}

.custom-file-input {
    & ~ .custom-file-label {
        border: none;
        background-color: $color-base-lightest;
    }

    &.as-btn {
        cursor: pointer;

        & ~ .custom-file-label {
            text-align: center;
            user-select: none;

            &::after {
                display: none;
            }
        }

        &.btn-base-pink {
            & ~ .custom-file-label {
                color: $color-light;
                background-color: $color-base-pink;
                border-color: $color-base-pink;
            }

            &:hover ~ .custom-file-label {
                color: $color-light;
                background-color: $color-base-pink-darker;
                border-color: $color-base-pink-darker;
            }

            &:disabled ~ .custom-file-label, &.disabled ~ .custom-file-label {
                color: $color-light;
                background-color: $color-base-pink-lighter;
                border-color: $color-base-pink-lighter;
            }

            &:focus ~ .custom-file-label, &.focus ~ .custom-file-label {
                box-shadow: 0 0 0 0.2rem $color-base-pink-lighter-o;
            }

            &:not(:disabled):not(.disabled):active ~ .custom-file-label, &:not(:disabled):not(.disabled).active ~ .custom-file-label {
                color: $color-light;
                background-color: $color-base-pink-dark;
                border-color: $color-base-pink-dark;
            }
        }
    }

    &.focus-base-red {
        &:focus ~ .custom-file-label {
            box-shadow: 0 0 0 0.2rem $color-base-red-lighter-o;
        }
    }

    &.focus-base-pink {
        &:focus ~ .custom-file-label {
            box-shadow: 0 0 0 0.2rem $color-base-pink-lighter-o;
        }
    }

    &.focus-base-yellow {
        &:focus ~ .custom-file-label {
            box-shadow: 0 0 0 0.2rem $color-base-yellow-lighter-o;
        }
    }
}

.custom-file-label {
    &::after {
        height: calc(1.5em + .75rem + 2px);
    }
}

/**
 * Height
 */
.h8 {
    height: $d8x;
}

.h8x2 {
    height: $d8x * 2;
}

.h8x3 {
    height: $d8x * 3;
}

.h8x4 {
    height: $d8x * 4;
}

.h8x5 {
    height: $d8x * 5;
}

.h8x6 {
    height: $d8x * 6;
}

.h8x20 {
    height: $d8x * 20;
}

/**
 * Hide
 */
.hide-not-over {
    .hide-target, .hide-target-block {
        display: none;
        transition-duration: 0.3s;
    }

    &:hover {
        .hide-target {
            display: inline;
        }

        .hide-target-block {
            display: block;
        }
    }
}

.hide, .hide-xl {
    display: none !important;
}

@media (max-width: $xs-max-width) {
    .hide-xs {
        display: none !important;
    }
}

@media (max-width: $sm-max-width) {
    .hide-sm {
        display: none !important;
    }
}

@media (max-width: $md-max-width) {
    .hide-md {
        display: none !important;
    }
}

@media (min-width: $lg-max-width) {
    .hide-lg {
        display: none !important;
    }
}

/**
 * Image
 */
.img-max {
    max-width: 100%;
    max-height: 100%;
}

/**
 * Link
 */
a {
    &:disabled, &.disabled {
        opacity: $disabled-o;
        text-decoration: none;
    }
}

.link-icon {
    &:hover {
        text-decoration: none;

        span {
            text-decoration: underline;
        }
    }
}

.link-base-dark-lighter {
    &, &:disabled, &.disabled {
        color: $color-base-dark-lighter;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-dark;
    }
}

.link-base-red {
    &, &:disabled, &.disabled {
        color: $color-base-red;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-red-darker;
    }
}

.link-base-yellow {
    &, &:disabled, &.disabled {
        color: $color-base-yellow;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-yellow-darker;
    }
}

.link-base-pink {
    &, &:disabled, &.disabled {
        color: $color-base-pink;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-pink-darker;
    }
}

/**
 * Margin
 */
.mt-6, .my-6 {
    margin-top: $d6;
}

.mb-6, .my-6 {
    margin-bottom: $d6;
}

.ml-6, .mx-6 {
    margin-left: $d6;
}

.mr-6, .my-6 {
    margin-right: $d6;
}

.mb15x {
    margin-bottom: $d15x;
}

.mb15x2 {
    margin-bottom: $d15x * 2;
}

.mt15x, .my15x, .m15x {
    margin-top: $d15x;
}

.mt15xn, .my15xn, .m15xn {
    margin-top: -$d15x;
}

.mb15x, .my15x, .m15x {
    margin-bottom: $d15x;
}

.mb15xn, .my15xn, .m15xn {
    margin-bottom: -$d15x;
}

.ml15x, .mx15x, .m15x {
    margin-left: $d15x;
}

.mr15x, .mx15x, .m15x {
    margin-right: $d15x;
}

.mt15x2, .my15x2, .m15x2 {
    margin-top: $d15x * 2;
}

.mt15x2n, .my15x2n, .m15x2n {
    margin-top: -($d15x * 2);
}

.mb15x2, .my15x2, .m15x2 {
    margin-bottom: $d15x * 2;
}

.mb15x2n, .my15x2n, .m15x2n {
    margin-bottom: -($d15x * 2);
}

.ml15x2, .mx15x2, .m15x2 {
    margin-left: $d15x * 2;
}

.mr15x2, .mx15x2, .m15x2 {
    margin-right: $d15x * 2;
}

/**
 * Modal
 */
@media (min-width: $md-min-width) {
    .modal-md {
        max-width: ($md-min-width - 100);
    }
}

@media (min-width: $lg-min-width) {
    .modal-lg {
        max-width: $lg-min-width - 100;
    }
}

@media (min-width: $xl-min-width) {
    .modal-xl {
        max-width: $xl-min-width - 100;
    }
}

/**
 * Navbar
 */
@media (max-width: $sm-max-width) {
    .navbar-expand-md {
        > .navbar-nav {
            flex-basis: 100%;
        }
    }
}

@media (max-width: $xs-max-width) {
    .navbar-expand-sm {
        > .navbar-nav {
            flex-basis: 100%;
        }
    }
}


/**
 * Padding
 */
.pt-6, .py-6 {
    padding-top: $d6;
}

.pb-6, .py-6 {
    padding-bottom: $d6;
}

.pl-6, .px-6 {
    padding-left: $d6;
}

.pr-6, .px-6 {
    padding-right: $d6;
}

.pt15x, .py15x, .p15x {
    padding-top: $d15x;
}

.pb15x, .py15x, .p15x {
    padding-bottom: $d15x;
}

.pl15x, .px15x, .p15x {
    padding-left: $d15x;
}

.pr15x, .px15x, .p15x {
    padding-right: $d15x;
}

.pt15x2, .py15x2, .p15x2 {
    padding-top: $d15x * 2;
}

.pb15x2, .py15x2, .p15x2 {
    padding-bottom: $d15x * 2;
}

.pl15x2, .px15x2, .p15x2 {
    padding-left: $d15x * 2;
}

.pr15x2, .px15x2, .p15x2 {
    padding-right: $d15x * 2;
}

/**
 * Role
 */
[role="button"] {
    cursor: pointer;
}

/**
 * Row
 */

.square-row {
    $cols: 12;

    .col-xs-2 {
        padding-bottom: 100% / ($cols / 2);
    }

    .col-xs-3 {
        padding-bottom: 100% / ($cols / 3);
    }

    .col-xs-4 {
        padding-bottom: 100% / ($cols / 4);
    }

    .col-xs-6 {
        padding-bottom: 100% / ($cols / 6);
    }

    .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-6,
    .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6,
    .col-md-2, .col-md-3, .col-md-4, .col-md-6,
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6 {
        height: 0;
        padding-bottom: 100%;
    }

    .col-xl-12, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
        height: 0;
        width: 100%;
        padding-bottom: 100%;
    }

    @media (min-width: $sm-min-width) {
        .col-sm-2 {
            padding-bottom: 100% / ($cols / 2);
        }

        .col-sm-3 {
            padding-bottom: 100% / ($cols / 3);
        }

        .col-sm-4 {
            padding-bottom: 100% / ($cols / 4);
        }

        .col-sm-6 {
            padding-bottom: 100% / ($cols / 6);
        }
    }

    @media (min-width: $md-min-width) {
        .col-md-2 {
            padding-bottom: 100% / ($cols / 2);
        }

        .col-md-3 {
            padding-bottom: 100% / ($cols / 3);
        }

        .col-md-4 {
            padding-bottom: 100% / ($cols / 4);
        }

        .col-md-6 {
            padding-bottom: 100% / ($cols / 6);
        }
    }

    @media (min-width: $lg-min-width) {
        .col-lg-2 {
            padding-bottom: 100% / ($cols / 2);
        }

        .col-lg-3 {
            padding-bottom: 100% / ($cols / 3);
        }

        .col-lg-4 {
            padding-bottom: 100% / ($cols / 4);
        }

        .col-lg-6 {
            padding-bottom: 100% / ($cols / 6);
        }
    }

    @media (min-width: $xl-min-width) {
        .col-xl-2 {
            padding-bottom: 100% / ($cols / 2);
        }

        .col-xl-3 {
            padding-bottom: 100% / ($cols / 3);
        }

        .col-xl-4 {
            padding-bottom: 100% / ($cols / 4);
        }

        .col-xl-6 {
            padding-bottom: 100% / ($cols / 6);
        }
    }
}

/**
 * Text
 */
.text-body, .text-base-dark {
    color: $color-base-dark;
}

.text-base-red-lighter {
    color: $color-base-red-lighter !important;
}

.text-base-red {
    color: $color-base-red !important;
}

.text-base-red-darker {
    color: $color-base-red-darker !important;
}

.text-base-red-dark {
    color: $color-base-red-dark !important;
}

.text-base-yellow-lighter {
    color: $color-base-yellow-lighter !important;
}

.text-base-yellow {
    color: $color-base-yellow !important;
}

.text-base-yellow-darker {
    color: $color-base-yellow-darker !important;
}

.text-base-yellow-dark {
    color: $color-base-yellow-dark !important;
}

.text-base-pink-lighter {
    color: $color-base-pink-lighter !important;
}

.text-base-pink {
    color: $color-base-pink !important;
}

.text-base-pink-darker {
    color: $color-base-pink-darker !important;
}

.text-base-pink-dark {
    color: $color-base-pink-dark !important;
}

.text-gradient-base {
    background: linear-gradient(to bottom, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-base-reverse {
    background: linear-gradient(to bottom, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-base-cross {
    background: linear-gradient(to right, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-base-cross-reverse {
    background: linear-gradient(to right, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-small {
    font-size: 14px;
    font-weight: 400;
}

.text-smaller {
    font-size: 12px;
    font-weight: 300;
}

.text-nowrap {
    white-space: nowrap;
}

/**
 * Width
 */
.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w8 {
    width: $d8x;
}

.w8x2 {
    width: $d8x * 2;
}

.w8x3 {
    width: $d8x * 3;
}

.w8x4 {
    width: $d8x * 4;
}

.w8x5 {
    width: $d8x * 5;
}

.w8x6 {
    width: $d8x * 6;
}

/**
 * Vertical align
 */
.va-middle {
    vertical-align: middle;
}
