@import "variables";

body {
    background-color: $color-base-lighter;
    color: $color-base-dark;
    //font-family: 'Nunito Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/**
 * Background
 */
.bg-gradient-base {
    background: linear-gradient(to bottom, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
}

.bg-gradient-base-reverse {
    background: linear-gradient(to bottom, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
}

.bg-gradient-base-cross {
    background: linear-gradient(to right, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
}

.bg-gradient-base-cross-reverse {
    background: linear-gradient(to right, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
}

/**
 * Border
 */
.border-none {
    border: none;
}

.border-base-dark {
    border-color: $color-base-dark !important;
}

.border-base-red-lighter {
    border-color: $color-base-red-lighter !important;
}

.border-base-red {
    border-color: $color-base-red !important;
}

.border-base-red-darker {
    border-color: $color-base-red-darker !important;
}

.border-base-red-dark {
    border-color: $color-base-red-dark !important;
}

.border-base-yellow-lighter {
    border-color: $color-base-yellow-lighter !important;
}

.border-base-yellow {
    border-color: $color-base-yellow !important;
}

.border-base-yellow-darker {
    border-color: $color-base-yellow-darker !important;
}

.border-base-yellow-dark {
    border-color: $color-base-yellow-dark !important;
}

.border-base-pink-lighter {
    border-color: $color-base-pink-lighter !important;
}

.border-base-pink {
    border-color: $color-base-pink !important;
}

.border-base-pink-darker {
    border-color: $color-base-pink-darker !important;
}

.border-base-pink-dark {
    border-color: $color-base-pink-dark !important;
}

/**
 * Button
 */
.btn, button, a {
    &:disabled, &.disabled {
        cursor: default;
        pointer-events: none;
    }
}

.btn-base-red {
    color: $color-light;
    background-color: $color-base-red;
    border-color: $color-base-red;

    &:hover {
        color: $color-light;
        background-color: $color-base-red-darker;
        border-color: $color-base-red-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-base-red-lighter;
        border-color: $color-base-red-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-base-red-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-base-red-dark;
        border-color: $color-base-red-dark;
    }
}

.btn-base-yellow {
    color: $color-light;
    background-color: $color-base-yellow;
    border-color: $color-base-yellow;

    &:hover {
        color: $color-light;
        background-color: $color-base-yellow-darker;
        border-color: $color-base-yellow-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-base-yellow-lighter;
        border-color: $color-base-yellow-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-base-yellow-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-base-yellow-dark;
        border-color: $color-base-yellow-dark;
    }
}

.btn-base-pink {
    color: $color-light;
    background-color: $color-base-pink;
    border-color: $color-base-pink;

    &:hover {
        color: $color-light;
        background-color: $color-base-pink-darker;
        border-color: $color-base-pink-darker;
    }

    &:disabled, &.disabled {
        color: $color-light;
        background-color: $color-base-pink-lighter;
        border-color: $color-base-pink-lighter;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem $color-base-pink-lighter-o;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: $color-light;
        background-color: $color-base-pink-dark;
        border-color: $color-base-pink-dark;
    }
}

/**
 * Dropdown
 */
.dropdown-toggle {
    &.no-arrow {
        &::after {
            display: none;
        }
    }
}

.dropdown-menu, .dropdown-divider {
    border-color: $color-base-light;
}

.dropdown-item {
    &:hover {
        background-color: $color-base-light;
    }

    &:focus, &.focus, &:active, &.active {
        color: $color-light;
        background-color: $color-base-red;
    }
}

/**
 * Form
 */
.form-control {
    border: none;
    background-color: $color-base-lightest;
}

/**
 * Height
 */
.h8 {
    height: $d8x;
}

.h8x2 {
    height: $d8x * 2;
}

.h8x3 {
    height: $d8x * 3;
}

.h8x4 {
    height: $d8x * 4;
}

.h8x5 {
    height: $d8x * 5;
}

.h8x6 {
    height: $d8x * 6;
}

/**
 * Hide
 */
.hide, .hide-xl {
    display: none !important;
}

@media (max-width: $xs-max-width) {
    .hide-xs {
        display: none !important;
    }
}

@media (max-width: $sm-max-width) {
    .hide-sm {
        display: none !important;
    }
}

@media (max-width: $md-max-width) {
    .hide-md {
        display: none !important;
    }
}

@media (min-width: $lg-max-width) {
    .hide-lg {
        display: none !important;
    }
}

/**
 * Link
 */
a {
    &:disabled, &.disabled {
        opacity: $disabled-o;
        text-decoration: none;
    }
}

.link-icon {
    &:hover {
        text-decoration: none;

        span {
            text-decoration: underline;
        }
    }
}

.link-base-dark-lighter {
    &, &:disabled, &.disabled {
        color: $color-base-dark-lighter;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-dark;
    }
}

.link-base-red {
    &, &:disabled, &.disabled {
        color: $color-base-red;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-red-darker;
    }
}

.link-base-yellow {
    &, &:disabled, &.disabled {
        color: $color-base-yellow;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-yellow-darker;
    }
}

.link-base-pink {
    &, &:disabled, &.disabled {
        color: $color-base-pink;
    }

    &:not(:disabled):not(.disabled):hover {
        color: $color-base-pink-darker;
    }
}

/**
 * Margin
 */
.mt-6, .my-6 {
    margin-top: $d6;
}

.mb-6, .my-6 {
    margin-bottom: $d6;
}

.ml-6, .mx-6 {
    margin-left: $d6;
}

.mr-6, .my-6 {
    margin-right: $d6;
}

/**
 * Modal
 */
@media (min-width: $md-min-width) {
    .modal-md {
        max-width: ($md-min-width - 100);
    }
}

@media (min-width: $lg-min-width) {
    .modal-lg {
        max-width: $lg-min-width - 100;
    }
}

@media (min-width: $xl-min-width) {
    .modal-xl {
        max-width: $xl-min-width - 100;
    }
}

/**
 * Padding
 */
.pt-6, .py-6 {
    padding-top: $d6;
}

.pb-6, .py-6 {
    padding-bottom: $d6;
}

.pl-6, .px-6 {
    padding-left: $d6;
}

.pr-6, .px-6 {
    padding-right: $d6;
}

/**
 * Role
 */
[role="button"] {
    cursor: pointer;
}

/**
 * Text
 */
.text-body, .text-base-dark {
    color: $color-base-dark;
}

.text-base-red-lighter {
    color: $color-base-red-lighter !important;
}

.text-base-red {
    color: $color-base-red !important;
}

.text-base-red-darker {
    color: $color-base-red-darker !important;
}

.text-base-red-dark {
    color: $color-base-red-dark !important;
}

.text-base-yellow-lighter {
    color: $color-base-yellow-lighter !important;
}

.text-base-yellow {
    color: $color-base-yellow !important;
}

.text-base-yellow-darker {
    color: $color-base-yellow-darker !important;
}

.text-base-yellow-dark {
    color: $color-base-yellow-dark !important;
}

.text-base-pink-lighter {
    color: $color-base-pink-lighter !important;
}

.text-base-pink {
    color: $color-base-pink !important;
}

.text-base-pink-darker {
    color: $color-base-pink-darker !important;
}

.text-base-pink-dark {
    color: $color-base-pink-dark !important;
}

.text-gradient-base {
    background: linear-gradient(to bottom, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-base-reverse {
    background: linear-gradient(to bottom, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-base-cross {
    background: linear-gradient(to right, $color-base-red 0%, $color-base-pink 51%, $color-base-yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-base-cross-reverse {
    background: linear-gradient(to right, $color-base-yellow 0%, $color-base-pink 51%, $color-base-red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-small {
    font-size: 14px;
    font-weight: 400;
}

.text-smaller {
    font-size: 12px;
    font-weight: 300;
}

.text-nowrap {
    white-space: nowrap;
}

/**
 * Width
 */
.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w8 {
    width: $d8x;
}

.w8x2 {
    width: $d8x * 2;
}

.w8x3 {
    width: $d8x * 3;
}

.w8x4 {
    width: $d8x * 4;
}

.w8x5 {
    width: $d8x * 5;
}

.w8x6 {
    width: $d8x * 6;
}

/**
 * Vertical align
 */
.va-middle {
    vertical-align: middle;
}
