@import "variables";

.main-footer {
    .navbar {
        height: $layout-footer-height;
        padding-top: 0;
        padding-bottom: 0;
        background: $color-dark;

        .nav-item {
            white-space: nowrap;
        }
    }

    .locale-dropdown {
        .dropdown-menu {
            margin-bottom: 0.15rem;
            border-bottom-width: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: #fff;
        }
    }

    @media (min-width: ($layout-footer-max-width + 1)) {
        .navbar-collapse {
            margin-right: 1rem;
        }

        .navbar-nav {
            .nav-item {
                &:first-child {
                    .nav-link {
                        padding-left: 0;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: $layout-footer-max-width) {
        padding: 0;

        .navbar {
            height: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .navbar-collapse {
            margin-bottom: 1rem;
        }

        .navbar-nav {
            .nav-item {
                &:first-child {
                    .nav-link {
                        padding-top: 0;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-bottom: 0;
                    }
                }
            }
        }

        .locale-dropdown {
            .dropdown-menu {
                position: absolute;
                left: 0;
                right: auto;
                margin-bottom: .5rem;
                padding: 0;
                border-bottom-width: 1px;
                border-radius: 0;
            }
        }
    }
}
