@import "variables";

.main-header {
    .navbar {
        height: $layout-header-height;
        background: $color-dark;
    }

    .navbar-brand {
        margin-left: -10px;

        img {
            margin-top: -3px;
        }
    }

    .navbar-toggler {
        border: none;
        outline: none;
    }

    .navbar-dark {
        .navbar-toggler {
            color: rgba(255, 255, 255, .75);
        }
    }

    .navbar-light {
        .navbar-toggler {
            color: rgba(0, 0, 0, .75);
        }
    }

    .navbar-collapse {
        background: $color-dark;
    }

    .user-nav-item {
        display: flex;
        align-items: center;

        .nav-link {
            padding-top: 0;
            padding-bottom: 0;

            &:hover {
                img {
                    box-shadow: 0 0 0 0.15rem $color-base-lighter-o2;
                }
            }
        }

        .dropdown-menu {
            margin-top: 0.75rem;
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    @media (min-width: $sm-min-width) {
        .navbar-collapse {
            justify-content: flex-end;
        }

        .navbar-nav {
            .nav-item {
                .btn {
                    margin: 0 .5rem;
                }

                &:first-child {
                    .nav-link {
                        padding-left: 0;
                    }

                    .btn {
                        margin-left: 0;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }

                    .btn {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: $xs-max-width) {
        $color: rgba(0, 0, 0, .9);
        $colorHover: rgba(0, 0, 0, .5);

        padding: 0;

        .navbar-collapse {
            position: absolute;
            left: 0;
            top: $layout-header-height;
            width: 100%;
            padding: 1rem;
            background: $color-light;
            border-bottom: 1px solid $color-base-light;
            z-index: 10;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $color;
                }

                .btn {
                    margin: .5rem 0;
                }

                &:hover, &.active {
                    .nav-link {
                        color: $colorHover;
                    }
                }

                &:first-child {
                    .nav-link {
                        padding-top: 0;
                    }

                    .btn {
                        margin-top: 0;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-bottom: 0;
                    }

                    .btn {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .user-nav-item {
            .dropdown {
                width: 100%;
            }

            .dropdown-toggle {
                display: none;
            }

            .dropdown-menu {
                display: block;
                border: none;
                margin: .5rem 0 0 0;
                padding: .5rem 0 0 0;
                border-top: 1px solid $color-base-light;
            }

            .dropdown-item {
                margin: 0;
                padding: .5rem 0;
                color: $color;

                &:last-child {
                    padding-bottom: 0;
                }

                &:hover {
                    background-color: transparent;
                    color: $colorHover;
                }

                &:focus, &.focus {
                    background-color: transparent;
                }

                i {
                    display: none;
                }
            }

            .dropdown-divider {
                display: none;
            }
        }
    }
}
