$color-base-red-lightest: #ffd8d8;
$color-base-red-lighter: #ff4860;
$color-base-red-lighter-o: rgba(255, 72, 96, .4);
$color-base-red: #da2c43;
$color-base-red-darker: #c12c42;
$color-base-red-dark: #a82c43;
$color-base-yellow-lightest: #ffffe3;
$color-base-yellow-lighter: #fff486;
$color-base-yellow-lighter-o: rgba(255, 244, 134, .4);
$color-base-yellow: #f8e356;
$color-base-yellow-darker: #dfca54;
$color-base-yellow-dark: #c6b150;
$color-base-pink-lightest: #ffe1f3;
$color-base-pink-lighter: #ff92dc;
$color-base-pink-lighter-o: rgba(255, 146, 220, .4);
$color-base-pink: #f15ebc;
$color-base-pink-darker: #d85ea2;
$color-base-pink-dark: #b55982;
$color-base-lightest: #f9fbfc;
$color-base-lighter: #f3f5f6;
$color-base-lighter-o: rgba(243, 245, 246, 0.4);
$color-base-lighter-o2: rgba(243, 245, 246, 0.2);
$color-base-light: #f0f2f3;
$color-base-dark-lighter: #687279;
$color-base-dark: #262626;

$disabled-o: .65;

$color-light: #fff;
$color-dark: #000;

$xs-max-width: 575px;
$sm-min-width: 576px;
$sm-max-width: 767px;
$md-min-width: 768px;
$md-max-width: 991px;
$lg-min-width: 992px;
$lg-max-width: 1199px;
$xl-min-width: 1200px;

$d5: 3rem;
$d6: $d5 * 2;

$d8x: 8px;

$rem: 16px;
$d-base-n: 14;
$d-base: 14rem;

$layout-header-height: $d-base * 0.25;
$layout-footer-height: $d-base * 0.2;
$layout-main-with-left-cover-width-n: $d-base-n * 2.5;
$layout-main-with-left-cover-width: $d-base * 2.5;
